{% extends 'base.html' %}
{% block head %}
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'registration/login.css' %}">>
{%endblock%}
{% block body%}
{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

    <div class="jumbotron jumbotron-fluid">
        <h2>Please login here</h2>
    </div>
    <div class="form">
            <form class="login-form" method="POST">
                {% csrf_token %}
                Username : <input type="text"name="username"><br>
                Password : <input type="password" name="password"><br>
                <input type="submit"name="LoginBtn"value="Login">
            </form>
    </div>
{% endblock %}