{% extends 'base.html'%}
{% block head %}
    <title>Registration Form</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'registration/regis.css' %}" />
{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1>Register here</h1>
</div>
<div class="form">
    <form class="login.form" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First Name"><br>
        <input type="text" name="last_name" placeholder="Last Name"><br>
        <input type="text" name="username" placeholder="Username"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="password" name="password1" placeholder="Password"><br>
        <input type="password" name="password2" placeholder="Confirm Password"><br>
        <button type="submit">Submit</button>
    </form>
</div>

{% for message in messages %}
<h3>{{message}}</h3>
{% endfor %}

{% endblock %}